html, body, #root, .App {
	height: 100%;
}

*, :after, :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.App {
  text-align: center;
  flex-direction: column;
}

@import "grid";
@import "reset";
@import "text";
