.home {
	margin-top: -50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.intro {
	margin-bottom: 15px;
}

.letters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*margin-top: -100px;*/
}

.letter {
	opacity: 0.95;
	/*background-color: rgba(0,0,0,0.05);*/
}

.follow {
	margin-top: 25px;
}
