.home {
	margin-top: -50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.intro {
	margin-bottom: 15px;
}

.letters {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.letter {
	opacity: 0.95;
}

.follow {
	margin-top: 25px;
}
