html, body, #root, .App {
	height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App .main-view {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Roboto', serif;
}
